img{
    border-radius: 50%;
    height: 500px;
    width: 350px;
    border-style: dotted;
    
}
p{
margin: 0px 0px 0px 1100px;
}

body{
    width: 300px;
    height: 300px;}
    
    .division{
border-radius: 50%;


    }